# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
js/scene.js
models/balerion/Balerion.FBX
models/balerion/textures/Balerion_Texture.jpeg
models/balerion/textures/Balerion_Texture.jpg_specular.jpeg
models/dragon/scene.bin
models/dragon/scene.gltf
models/dragon/textures/material_0_diffuse.png
models/dragon/textures/material_0_normal.png
models/dragon/textures/material_0_occlusion.png
models/dragon/textures/material_0_specularGlossiness.png
models/dragon/textures/Material_baseColor.png
models/house/scene.bin
models/house/scene.gltf
models/house/textures/blinn136RS_baseColor.jpeg
models/house/textures/curtain_baseColor.jpeg
models/house/textures/house_wood_01_baseColor.jpeg
models/house/textures/house_wood_02_m1_baseColor.jpeg
models/house/textures/house_wood_02_m_baseColor.jpeg
models/house/textures/house_wood_03_baseColor.jpeg
models/house/textures/roof_03_m_baseColor.jpeg
models/house/textures/roof_2_m_baseColor.jpeg
models/house/textures/wood_wall_m_baseColor.jpeg
models/phoenix/scene.bin
models/phoenix/scene.gltf
models/phoenix/textures/MatI_Ride_FengHuang_01a_baseColor.png
models/phoenix/textures/MatI_Ride_FengHuang_01a_emissive.png
models/phoenix/textures/MatI_Ride_FengHuang_01b_baseColor.png
models/phoenix/textures/MatI_Ride_FengHuang_01b_emissive.png
models/robot/scene.bin
models/robot/scene.gltf
models/robot/textures/Glass_metallicRoughness.png
models/robot/textures/Laser_Outline_baseColor.png
models/robot/textures/material_baseColor.png
models/robot/textures/material_metallicRoughness.png
models/robot/textures/material_normal.png
models/rock/scene.bin
models/rock/scene.gltf
models/rock/textures/material0_baseColor.jpeg
models/rock/textures/material1_baseColor.jpeg
models/rock/textures/material2_baseColor.jpeg
models/rock/textures/material3_baseColor.jpeg
models/rock/textures/material4_baseColor.jpeg
models/rock/textures/material5_baseColor.jpeg
models/tree/scene.bin
models/tree/scene.gltf
models/tree/textures/masterMaterial_baseColor.png
models/tree/textures/masterMaterial_metallicRoughness.png
